<head>
  <link rel="stylesheet" href="/stylesheets/authforms.css" />
</head>

<h1>Sign up</h1>

<form action="/auth/signup" method="POST">
  <label>
    Username:
    <input type="text" name="username" />
  </label>
  <label>
    Email:
    <input type="email" name="email" />
  </label>
  <label>
    Password:
    <input type="password" name="password" />
  </label>

  <button class="sign-up-btn" type="submit">Become a friend</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}