<nav class="nav-bar">
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/search/friends">Search friends</a>
  <a href="/friends">Friends list</a>
  <a href="/search/books">Search books</a>
  <a href="/read-books/bookshelf">bookshelf</a>
  <a href="/read-books/favorites">favorites</a>
  <a href="/future-books/wishlist">wishlist</a>
  <a href="/future-books/reccommendations">reccommendations</a>
  <a href="/auth/logout">logout</a>
</nav>

<main>
  <h1>Bookshelf</h1>
  {{!  Information Books: }}
  {{#each currentUser.bookshelf}}
    <img src="{{imageUrl}}" alt="book-cover" />
    <h4>{{title}}</h4>

    <a href="/read-books/{{_id}}/remove">Remove Book</a>
    <a href="/search/book-details/{{id}}">Book Details</a>
  {{/each}}

</main>