<nav class="nav-bar">
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/search/friends">Search friends</a>
  <a href="/friends">Friends list</a>
  <a href="/search/books">Search books</a>
  <a href="/read-books/bookshelf">bookshelf</a>
  <a href="/read-books/favorites">favorites</a>
  <a href="/future-books/wishlist">wishlist</a>
  <a href="/future-books/reccommendations">reccommendations</a>
  <a href="/auth/logout">logout</a>
</nav>

<main>
  <h1>Bookshelf</h1>

  {{#each currentUser.bookshelf}}
    <img src="{{this.imageUrl}}" alt="book-cover" />
    <h4>{{this.title}}</h4>
  {{/each}}

  {{!-- <a href="/search/book-details/{{this.id}}">Book Details</a> --}}
  {{!  put the route to go to the details }}
</main>