<main>
  <h1>Wishlist</h1>

  {{#each currentUser.wishlist}}
    <img src="{{imageUrl}}" alt="book-cover" />
    <h4>{{title}}</h4>

    <a href="/future-books/{{_id}}/remove-wishlist">Remove Book</a>
    <a href="/search/book-details/{{id}}">Book Details</a>
  {{/each}}
</main>