<head>
  <link rel="stylesheet" href="stylesheets/index.css" />
</head>

<section class="welcome">
  <h1>Book_id</h1>
  <h2>Welcome booklover</h2>
  <div class="book-img">
    <img src="/images/book_01.png" alt="book drawing" />
  </div>
  <p>Hey there!
    <span class="logo"> Book_id</span>
    is a full stack application that works like a book journal allowing you to
    organize, share and keep track of your readings. Create your account and
    start your book-journey! Edit your profile as you like and insert a
    description about you and your book chooses. Find your friends and discover
    their bookshelf, favorite books, what are they reading at the moment and
    their whishlist. In your reading section you are able to keep track of your
    current reading by inserting the page you are in and the total number of
    pages. You can even reccommend a book to your friend or be reccommended by
    one.
  </p>
</section>

{{! <section class="about">
  <h3>About book_id</h3>
  <p>Hey there! Book_id is a full stack application that works like a book
    journal allowing you to organize, share and keep track of your readings.
    Create your account and start your book-journey! Edit your profile as you
    like and insert a description about you and your book chooses. Find your
    friends and discover their bookshelf, favorite books, what are they reading
    at the moment and their whishlist. In your reading section you are able to
    keep track of your current reading by inserting the page you are in and the
    total number of pages. You can even reccommend a book to your friend or be
    reccommended by one.</p>
</section> }}