<nav class="nav-bar">
  {{#if user}}
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/search/friends">Search friends</a>
    <a href="/friends">Friends list</a>
    <a href="/search/books">Search books</a>
    <a href="/read-books/bookshelf">bookshelf</a>
    <a href="/read-books/favorites">favorites</a>
    <a href="/future-books/wishlist">wishlist</a>
    <a href="/future-books/reccommendations">reccommendations</a>
    <a href="/auth/logout">logout</a>

  {{else}}
    <a href="/auth/login">log in</a>
    <a href="/auth/signup">sign up</a>

  {{/if}}
</nav>

<main>
  <p>Welcome Booklover!</p>
</main>