<head>
  <link rel="stylesheet" href="stylesheets/index.css" />
</head>

<section class="welcome">
  <h1>Welcome booklover</h1>
</section>

<section class="about">
  <h3>About book_id</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eum
    quasi sint eveniet animi blanditiis cum nam, odio, aperiam dolores vitae
    nihil maxime ab, veniam cupiditate tempore nobis quam dolorem.</p>
</section>