<head>
  <link rel="stylesheet" href="stylesheets/index.css" />
</head>

<section class="welcome">
  <h1>Welcome booklover</h1>
</section>

<div class="book-img">
  <img src="/images/book_01.png" alt="book drawing" />
</div>

<section class="about">
  <h3>About book_id</h3>
  <p>Hey there! Book_id is a full stack application that works like a book
    journal allowing you to organize, share and keep track of your readings.
    Create your account and start your book-journey! Edit your profile as you
    like and insert a description about you and your book chooses. Find your
    friends and discover their bookshelf, favorite books, what are they reading
    at the moment and their whishlist. In your reading section you are able to
    keep track of your current reading by inserting the page you are in and the
    total number of pages. You can even reccommend a book to your friend or be
    reccommended by one.consectetur adipisicing elit. Delectus eum quasi sint
    eveniet animi blanditiis cum nam, odio, aperiam dolores vitae nihil maxime
    ab, veniam cupiditate tempore nobis quam dolorem.</p>
</section>