<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bookclub</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
  </head>

  <body>
    <main>
      <nav class="nav-bar">
  {{#if currentUser}}
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/search/friends">Search friends</a>
    <a href="/friends">Friends list</a>
    <a href="/search/books">Search books</a>
    <a href="/read-books/bookshelf">bookshelf</a>
    <a href="/read-books/favorites">favorites</a>
    <a href="/future-books/wishlist">wishlist</a>
    <a href="/future-books/reccommendations">reccommendations</a>
    <a href="/auth/logout">logout</a>

  {{else}}
    <a href="/auth/login">log in</a>
    <a href="/auth/signup">sign up</a>

  {{/if}}
</nav>

    {{{body}}}

   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</main>
</html>