<head>
  <link rel="stylesheet" href="/stylesheets/errors.css" />
</head>

{{! <h1>404 Error</h1> }}
<h2>Uhm... no book found!
  <br />Let's go back to
  <a href="/">page one</a>...
</h2>
<div class="error-pic">
  <img src="/images/book_09.png" alt="error-pic" />
</div>