<head>
  <link rel="stylesheet" href="/stylesheets/friends-list.css" />
</head>
<h1>Friends list</h1>

<section class="friends">

  {{#each user.friendsList}}
    <div class="friends-pic-info">
      <div>
        <img
          class="default-profile-pic"
          src="{{this.imageUrl}}"
          alt="friend-picture"
        />
      </div>
      <div class="friends-info">
        <h4>{{this.name}}</h4>
        <h5>{{this.username}}</h5>
      </div>
      <div class="friends-button">
        <a class="remove-friends" href="/remove-friend/{{this._id}}">Remove
          friend</a>
      </div>
    </div>
  {{/each}}
</section>