<main>
  <h1>Friends list</h1>

  {{#each user.friendsList}}
    <img src="{{this.imageUrl}}" alt="friend-picture" />
    <h4>{{this.name}}</h4>
    <h5>{{this.username}}</h5>

    <a href="/remove-friend/{{this._id}}">Remove friend</a>
  {{/each}}
</main>