.book-results img {
  min-width: 8vw;
  min-height: 20vh;
}

.book-results h4 {
  color: var(--browncolor);
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.book-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.each-book-result {
  background-color: rgba(255, 255, 255, 0.377);
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--browncolor);
  border-radius: 20px;
}

.each-book-result a {
  background-color: var(--whitecolor);
  color: var(--browncolor);
  border-radius: 20px;
  margin: 1.5rem;
  text-decoration: none;
  border: 0.02rem solid var(--browncolor);
  min-height: 4vh;
  min-width: 8vw;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-book-result a:hover {
  border: 0.02rem solid var(--whitecolor);
  background-color: var(--browncolor);
  color: var(--whitecolor);
}

@media only screen and (max-width: 400px) {
  .book-results h4 {
    font-size: 0.8rem;
  }

  .book-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .each-book-result {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--browncolor);
    border-radius: 10px;
  }

  .each-book-result a {
    margin: 1rem;
    height: 10vh;
    width: 25vw;
    font-size: 0.7rem;
  }
}
