.book-results h4 {
  font-size: 1rem;
  text-align: center;
}

.book-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.each-book-result {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 10px;
}

.each-book-result a {
  margin: 1.5rem;
  text-decoration: none;
  border: 0.02rem solid black;
  min-height: 4vh;
  min-width: 8vw;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .book-results h4 {
    font-size: 0.8rem;
  }

  .book-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .each-book-result {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 10px;
  }

  .each-book-result a {
    margin: 1rem;
    height: 10vh;
    width: 25vw;
    font-size: 0.7rem;
  }
}
