h1 {
  margin-top: 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

span {
  font-size: 1rem;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.edit-profile {
  height: 45vh;
  /*  border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-info {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit-profile-form {
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 5%; */
}

form input {
  margin-top: 1rem;
  border-radius: 20px;
  height: 3.5vh;
  margin-bottom: 0.2rem;
  border: 0.02rem solid var(--browncolor);
  background-color: var(--whitecolor);
  color: var(--browncolor);
}

.img-input {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-description {
  margin-top: 1rem;
  border-radius: 20px;
  height: 3.5vh;
}

form label {
  margin: 0.5rem;
  color: var(--browncolor);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

form textarea {
  width: 15vw;
  height: 20vh;
  border: 0.02rem solid var(--browncolor);
  background-color: var(--whitecolor);
}

.edit-profile-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5%; */
}

button {
  border: 0.02rem solid var(--browncolor);
  background-color: var(--whitecolor);
  color: var(--browncolor);
  margin: 5rem;
  border-radius: 20px;
  width: 8vw;
  height: 10vh;
  font-size: 0.8rem;
  text-align: center;
}

.button {
  padding: 0.7rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 400px) {
  h1 {
    margin-top: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  span {
    font-size: 0.8rem;
  }

  main {
    height: 77vh;
    gap: 5%;
  }

  form input {
    font-size: 0.7rem;
    text-align: center;
  }

  #imageUrl {
    border: none;
    background-color: transparent;
  }

  .edit-profile {
    height: 55vh;
  }

  .profile-info {
    margin: 0.5rem;
  }
  .button {
    padding: 0.4rem;
    width: 20vw;
    height: 20vh;
  }
}
