h1 {
  /*   margin-top: 3rem; */
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h4 {
  margin-top: 1.5rem;
}

span {
  font-size: 1rem;
}

main {
  height: 81vh;
}

.friends {
  color: var(--browncolor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.friends-pic-info {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.385);
  text-align: center;
  width: 18vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.default-profile-pic {
  border-radius: 10px;
  width: 10vw;
  height: 20vh;
}

.friends-button a {
  background-color: var(--whitecolor);
  color: var(--browncolor);
  border-radius: 20px;
  margin: 1.5rem;
  text-decoration: none;
  border: 0.02rem solid var(--browncolor);
  min-height: 4vh;
  min-width: 8vw;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 400px) {
  .friends-pic-info {
    height: 55vh;
    width: 50vw;
  }

  .default-profile-pic {
    width: 30vw;
    height: 22vh;
  }

  .friends-button a {
    margin: 1rem;
    height: 5vh;
    width: 25vw;
    font-size: 0.7rem;
  }
}
