main {
  height: 87vh;
  background-color: #faedcd;
}
.welcome {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 0.5rem;
  border-top: 0.02rem solid black;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

@media only screen and (max-width: 400px) {
  p {
    font-size: 0.7rem;
    text-align: justify;
    padding: 0px 10px;
  }
}
