/* .search-input{

} */

main {
  padding: 0.5rem;
  height: 85vh;
}

h1 {
  text-align: center;
  margin-bottom: 5rem;
  /*  margin-left: 0.9rem; */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.search {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searching {
  display: flex;
  gap: 5%;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.options {
  color: var(--browncolor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.options input {
  border: 0.01rem solid var(--browncolor);
}

.search-input {
  width: 40vw;
}
.search-form input {
  border-radius: 20px;
  border: 0.01rem solid var(--browncolor);
  height: 5vh;
}

.search-form button {
  font-size: 1.2rem;
  background-color: var(--browncolor);
  color: var(--whitecolor);
  border-radius: 20px;
  margin-top: 5rem;
  border: none;
  height: 5vh;
  width: 8vw;
}

button:hover {
  border: 0.02rem solid var(--browncolor);
  background-color: var(--whitecolor);
  color: var(--browncolor);
}

.suggestions {
  height: 20vh;
  width: 55vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  /*     align-items: center; */
}

.category {
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 0.02rem solid var(--browncolor);
  background-color: var(--whitecolor);
  height: 15vh;
  width: 8vw;
}

.suggestions a {
  color: var(--browncolor);
  text-decoration: none;
}

.suggestions a:hover {
  border: 0.02rem solid var(--whitecolor);
  background-color: var(--browncolor);
  color: var(--whitecolor);
}

@media only screen and (max-width: 400px) {
  h1 {
    margin-bottom: 3rem;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }

  .search-form input {
    border: 0.01rem solid var(--browncolor);
    height: 5vh;
  }

  .search-form button {
    font-size: 0.9rem;
    margin-top: 3rem;
    border: none;
    height: 5vh;
    width: 30vw;
  }

  .category {
    font-size: 0.8rem;
    height: 12vh;
    width: 22vw;
  }
}
