:root {
  --fontcolor: red;
  --basecolor: white;
  --alink: black;
  --ahover: white;
}

*  {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: var(--fontcolor);
  margin: 2.5rem;
  text-align: center;
}

h5 {
  font-size: 0.7rem;
}

main {
  justify-content: center;
  align-items: center;
}

footer {
  min-height: 5vh;
  border-top: 0.05rem solid black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liremove {
  list-style-type: none;
}
