main {
  min-height: 82vh;
}

h4 {
  color: var(--browncolor);
  font-size: 1.2rem;
  margin-top: 1rem;
}

h5 {
  font-style: italic;
  color: var(--browncolor);
}

.user-book-info {
  background-color: rgba(255, 255, 255, 0.48);
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 55vh;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--browncolor);
  border-radius: 10px;
}

.user-books img {
  height: 25vh;
  width: 10vw;
}

.user-books-buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-books-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.a-button {
  color: var(--browncolor);
  background-color: var(--whitecolor);
  border-radius: 20px;
  margin: 0.5rem;
  text-decoration: none;
  border: 0.02rem solid var(--browncolor);
  min-height: 4vh;
  min-width: 8vw;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-books-buttons a:hover {
  border: 0.02rem solid var(--whitecolor);
  background-color: var(--browncolor);
  color: var(--whitecolor);
}

.no-readings h5 {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
}

.no-readings a {
  background-color: var(--whitecolor);
  color: var(--browncolor);
  margin: 5rem;
  text-decoration: none;
  border-radius: 20px;
  border: 0.02rem solid var(--browncolor);
  height: 5vh;
  width: 10vw;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-readings a:hover {
  border: 0.02rem solid var(--whitecolor);
  background-color: var(--browncolor);
  color: var(--whitecolor);
}

.no-readings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.sad-booklover img {
  height: 20vh;
  width: 16vw;
}

@media only screen and (max-width: 400px) {
  main {
    min-height: 90vh;
  }

  h4 {
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  .user-book-info {
    text-align: center;
    margin: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .user-books img {
    height: 25vh;
    width: 25vw;
  }

  .user-books-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .user-books-center {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .a-button {
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.2rem;
    text-decoration: none;
    min-height: 4vh;
    min-width: 10vw;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-readings h5 {
    width: 80vw;
    text-align: center;
    font-size: 1rem;
    line-height: 2;
  }

  .sad-booklover img {
    width: 50vw;
  }

  .no-readings a {
    font-size: 0.6rem;
    height: 5vh;
    width: 30vw;
  }
}
