<head>
  <link rel="stylesheet" href="/stylesheets/books.css" />
</head>

<h1>Friends results</h1>

{{#each user}}

  <section class="book-results">
    <div class="each-book-result">
      <img src="{{this.imageUrl}}" alt="profile picture" />

      <h4 class="username">{{this.username}}</h4>

      <a
        class="friend-details-button"
        href="/search/friends-details/{{this._id}}"
      >Friend Details</a>

    </div>
  </section>
{{/each}}