<main>
  <h1>Friends details</h1>

  <img src="{{currentUser.imageUrl}}" alt="profile picture" />

  {{currentUser.username}}
  {{currentUser.description}}

  <a href="/add-friend/{{currentUser._id}}">Add friend</a>
</main>