<head>
  <link rel="stylesheet" href="/stylesheets/search.css" />
</head>

<section class="search">
  <h1>Search friends</h1>

  <form class="search-form" action="/search/search-friends" method="get">
    <input
      class="search-input"
      type="search"
      name="qfriend"
      id="search-friends"
      placeholder="  Search for friends"
    />
    <button class="search-friends-button" type="submit">Search</button>
  </form>
</section>