<h1>Search friends</h1>

<form action="/search/search-friends" method="get">
  <input
    type="search"
    name="qfriend"
    id="search-friends"
    placeholder="Search for friends"
  />
  <button class="search-friends-button" type="submit">Search</button>
</form>