<nav class="nav-bar">
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/search/friends">Search friends</a>
  <a href="/friends">Friends list</a>
  <a href="/search/books">Search books</a>
  <a href="/read-books/bookshelf">bookshelf</a>
  <a href="/read-books/favorites">favorites</a>
  <a href="/future-books/wishlist">wishlist</a>
  <a href="/future-books/reccommendations">reccommendations</a>
  <a href="/auth/logout">logout</a>
</nav>

<main>
  <h1>Search friends</h1>

  <form action="/search/search-friends" method="get">
    <input
      type="search"
      name="qfriend"
      id="search-friends"
      placeholder="Search for friends"
    />
    <button class="search-friends-button" type="submit">Search</button>
  </form>
</main>