<h1>Search books</h1>

<form action="/search/search-books" method="get">
  <input type="search" name="q" id="search-books" placeholder="Search books" />
  <button class="search-books-button" type="submit">Search</button>
</form>