<nav class="nav-bar">
  <a href="/">Home</a>
  <a href="/profile">Profile</a>
  <a href="/search/friends">Search friends</a>
  <a href="/friends">Friends list</a>
  <a href="/search/books">Search books</a>
  <a href="/read-books/bookshelf">bookshelf</a>
  <a href="/read-books/favorites">favorites</a>
  <a href="/future-books/wishlist">wishlist</a>
  <a href="/future-books/reccommendations">reccommendations</a>
  <a href="/auth/logout">logout</a>
</nav>

<main>
  <h1>Search books</h1>

  <form action="/search/search-books" method="get">
    <input
      type="search"
      name="q"
      id="search-books"
      placeholder="Search books"
    />
    <label for="o">relevance</label>
    <input type="radio" name="o" id="order" value="relevance" checked />
    <label for="o">newest</label>
    <input type="radio" name="o" id="order" value="newest" />
    <button class="search-books-button" type="submit">Search</button>
  </form>
</main>